{:paths ["src" "test"]
 :deps {}
 :tasks
 {run      {:doc "Run zeus"
            :override-builtin true
            :requires ([zeus.core])
            :task (apply zeus.core/-main *command-line-args*)}
  complete {:doc "Print one completion per line for the given partial input"
            :requires ([clojure.string :as str]
                       [zeus.completion :as completion])
            :task (let [line (str/join " " *command-line-args*)]
                    (doseq [match (completion/complete line)]
                      (println match)))}
  firmware {:doc "Download system firmware (PS3 / PSV) from Sony's CDN"
            :requires ([clojure.java.io :as io]
                       [zeus.firmware :as firmware])
            :task (let [[platform target-dir] *command-line-args*
                        dir (io/file (or target-dir (str "./firmware/" platform)))
                        progress (fn [done total]
                                   (print (format "\r  progress: %.1f%% (%.1f/%.1f MB)"
                                                  (* 100.0 (/ done (double total)))
                                                  (/ done (* 1024.0 1024))
                                                  (/ total (* 1024.0 1024))))
                                   (flush))]
                    (if (nil? platform)
                      (do (binding [*out* *err*]
                            (println "usage: bb firmware <ps3|psv> [target-dir]"))
                          (System/exit 1))
                      (let [f (firmware/fetch platform dir :progress-fn progress)]
                        (println)
                        (println (str "  [ok] " (.getPath f))))))}
  test {:doc "Run all tests"
        :requires ([babashka.classpath :as cp]
                   [clojure.string :as str]
                   [clojure.test :as t])
        :task (let [path->ns (fn [p]
                                (-> p
                                    (str/replace (re-pattern "^test/") "")
                                    (str/replace (re-pattern "\\.clj$") "")
                                    (str/replace "_" "-")
                                    (str/replace "/" ".")
                                    symbol))
                    test-nses (->> (file-seq (clojure.java.io/file "test"))
                                   (filter (fn [f] (.isFile f)))
                                   (map (fn [f] (.getPath f)))
                                   (filter (fn [p] (str/ends-with? p "_test.clj")))
                                   (map path->ns))]
                (doseq [ns test-nses] (require ns))
                (defmethod t/report :begin-test-ns [_])
                (let [{:keys [fail error]}
                      (apply t/run-tests test-nses)]
                  (System/exit (if (zero? (+ fail error)) 0 1))))}}}
