{:paths ["src" "test"]
 :deps {}
 :tasks
 {run  {:doc "Run zeus"
        :override-builtin true
        :requires ([zeus.core])
        :task (apply zeus.core/-main *command-line-args*)}
  test {:doc "Run all tests"
        :requires ([babashka.classpath :as cp]
                   [clojure.string :as str]
                   [clojure.test :as t])
        :task (let [path->ns (fn [p]
                                (-> p
                                    (str/replace (re-pattern "^test/") "")
                                    (str/replace (re-pattern "\\.clj$") "")
                                    (str/replace "_" "-")
                                    (str/replace "/" ".")
                                    symbol))
                    test-nses (->> (file-seq (clojure.java.io/file "test"))
                                   (filter (fn [f] (.isFile f)))
                                   (map (fn [f] (.getPath f)))
                                   (filter (fn [p] (str/ends-with? p "_test.clj")))
                                   (map path->ns))]
                (doseq [ns test-nses] (require ns))
                (defmethod t/report :begin-test-ns [_])
                (let [{:keys [fail error]}
                      (apply t/run-tests test-nses)]
                  (System/exit (if (zero? (+ fail error)) 0 1))))}}}
